.education-container{
  padding: 20px;
  border-top: 1px solid var(--cor-da-borda);
}

.education-eyebrow{
  color: var(--texto-secundario);
  display: flex;
  gap: 15px;
  font-size: 15px;
}

.education-eyebrow span{
  font-size: inherit;
  font-weight: bolder;
  color: var(--accent);
}

.education-card{
  margin: 16px 0px;
  display: flex;
  gap: 14px;
}

.education-icon{
  color: var(--accent);
  background-color: var(--cor-do-card);
  padding: 10px 10px;
  border-radius: 8px;
}

.education-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.education-description{
  color: var(--texto-secundario);
  font-size: 14px;
  line-height: 1.4;
}

.education-title{
  color: var(--texto-principal);
  font-size: 16px;
  font-weight: 500;
}
