.hero-content {
  padding: 20px;
  border-bottom: 1px solid var(--cor-da-borda);
}

.hero-eyebrow{
  color: var(--texto-secundario);
  font-weight: 500;
}

.hero-title{
  color: var(--texto-principal);
  margin: 10px 0;
  line-height: 1.15;
}

.hero-title span {
  color: var(--accent);
  font-weight: inherit;
}

.hero-description {
  color: var(--texto-secundario);
  line-height: 1.5;
}

.hero-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 15px 0px;
}

.hero-actions a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-button {
  text-decoration: none;
  color: var(--texto-principal);
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}

.hero-button--primary {
  color: var(--texto-principal);
  background-color: var(--accent);
  transition: background-color 200ms;
}

.hero-button--primary:hover {
  background-color: var(--accent-hover);
}

.hero-button--secondary {
  color: var(--texto-principal);
  background-color: var(--cor-do-card);
  border: 1px solid var(--cor-da-borda);
  transition: background-color 200ms;
}

.hero-button--secondary:hover {
  background-color: var(--background-secundario);
  border-color: var(--accent);
}
