@charset "UTF-8";

:root {
    --cor-fundo: #012e40;
    --cor-container: #024959;
    --cor-card: #ffffff;
    --cor-destaques: #3ca6a6;
    --cor-texto: #0f172a;
    --fonte-padrao: 'Inter', system-ui, '-apple-system', 'BlinkMacSystemFont', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
    
}

header {
    background-image: linear-gradient(to bottom, var(--cor-fundo), var(--cor-container));
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;
    padding: 10px 0px;
}

header a {
    text-decoration: none;
    color: var(--cor-card);
    font-size: 1.4em;
    padding: 20px;
}

header p.mobile {
    display: none;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    background-color: var(--cor-fundo);
}

div.ficha {
    grid-column: 2;
    border-radius: 8px;
    background-color: var(--cor-card);
    padding: 20px;
    margin: 20px 0px;
}

div.ficha img.foto {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: block;
    margin: auto;
}

div.ficha h1 {
    text-align: center;
    margin: 10px 0px;
    color: var(--cor-texto);
}

div.ficha p {
    text-align: justify;
    line-height: 1.2em;
    color: var(--cor-texto);
}

article#video {
    grid-column: 2;
    color: var(--cor-texto);
    background-color: var(--cor-card);
    padding: 20px;
    border-radius: 8px;
}

article h2 {
    color: var(--cor-principal);
}

div.video-container iframe {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 10px;
}

article#habilidades {
    grid-column: 2;
    background-color: var(--cor-card);
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--cor-container);
}

article#habilidades {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

div.habilidades-container {
    background-color: var(--cor-card);
}

div.logo-span {
    display: flex;
    justify-content: space-between;
}

div.barra {
    width: 100%;
    height: 10px;
    background-color: var(--cor-fundo);
    border-radius: 4px;
}

div.porcentagem-barra {
    background-color: var(--cor-principal);
    height: 100%;
    border-radius: 4px;
}



